In [1]:
import pandas as pd

In [2]:
ford = pd.read_csv("cars/ford.csv")
ford

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Fiesta,2017,12000,Automatic,15944,Petrol,150,57.7,1.0
1,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0
2,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0
3,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5
4,Fiesta,2019,16500,Automatic,1482,Petrol,145,48.7,1.0
...,...,...,...,...,...,...,...,...,...
17960,Fiesta,2016,7999,Manual,31348,Petrol,125,54.3,1.2
17961,B-MAX,2017,8999,Manual,16700,Petrol,150,47.1,1.4
17962,B-MAX,2014,7499,Manual,40700,Petrol,30,57.7,1.0
17963,Focus,2015,9999,Manual,7010,Diesel,20,67.3,1.6
17964,KA,2018,8299,Manual,5007,Petrol,145,57.7,1.2

In [14]:
ford.describe()

,year,price,mileage,tax,mpg,engineSize
count,17965.000000,17965.000000,17965.000000,17965.000000,17965.000000,17965.000000
mean,2016.866574,12279.756415,23363.630504,113.334539,57.906991,1.350827
std,2.050346,4741.382606,19472.114690,62.010438,10.125977,0.432371
min,1996.000000,495.000000,1.000000,0.000000,20.800000,0.000000
25%,2016.000000,8999.000000,9987.000000,30.000000,52.300000,1.000000
50%,2017.000000,11291.000000,18243.000000,145.000000,58.900000,1.200000
75%,2018.000000,15299.000000,31064.000000,145.000000,65.700000,1.500000
max,2060.000000,54995.000000,177644.000000,580.000000,201.800000,5.000000

In [4]:
ford.sort_values(by=['price'], ascending=0)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
11912,Focus,2018,54995,Manual,11000,Petrol,145,36.7,2.3
11913,Mustang,2017,49999,Manual,21575,Petrol,145,20.9,5.0
11910,Mustang,2017,48999,Automatic,7546,Petrol,145,23.5,5.0
17866,Mustang,2020,48000,Manual,50,Petrol,145,23.9,5.0
12613,Mustang,2019,45250,Automatic,2500,Petrol,145,22.1,5.0
...,...,...,...,...,...,...,...,...,...
16704,Fiesta,2008,694,Manual,82020,Petrol,145,47.1,1.2
14222,Mondeo,2005,675,Manual,97000,Diesel,205,48.7,2.0
16904,Focus,2005,675,Manual,121000,Petrol,235,39.8,2.0
16811,Mondeo,2005,675,Manual,108000,Petrol,260,36.2,1.8
17103,Focus,2003,495,Manual,177644,Petrol,200,41.5,1.6

In [9]:
ford[ford['price'] > 30000]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
230,S-MAX,2020,34498,Semi-Auto,4623,Diesel,145,43.5,2.0
302,Mustang,2020,42489,Automatic,3500,Petrol,145,22.1,5.0
339,Mustang,2020,38489,Automatic,3500,Petrol,145,30.7,2.3
354,Mustang,2018,31498,Automatic,6250,Petrol,145,23.5,5.0
387,Mustang,2019,39998,Automatic,5000,Petrol,145,22.6,5.0
...,...,...,...,...,...,...,...,...,...
17181,Edge,2019,33994,Automatic,14,Diesel,145,37.2,2.0
17193,Edge,2019,33495,Automatic,1,Diesel,145,37.2,2.0
17207,Mustang,2018,30500,Manual,5000,Petrol,145,20.9,5.0
17304,Mustang,2019,39995,Automatic,800,Petrol,145,22.1,5.0
17866,Mustang,2020,48000,Manual,50,Petrol,145,23.9,5.0

In [11]:
ford[ford['model'] == 'Mustang']

Empty DataFrame
Columns: [model, year, price, transmission, mileage, fuelType, tax, mpg, engineSize]
Index: []

In [13]:
ford['model'].mode()

0     Fiesta
Name: model, dtype: object

In [15]:
ford[ford['mpg'] > 30]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Fiesta,2017,12000,Automatic,15944,Petrol,150,57.7,1.0
1,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0
2,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0
3,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5
4,Fiesta,2019,16500,Automatic,1482,Petrol,145,48.7,1.0
...,...,...,...,...,...,...,...,...,...
17960,Fiesta,2016,7999,Manual,31348,Petrol,125,54.3,1.2
17961,B-MAX,2017,8999,Manual,16700,Petrol,150,47.1,1.4
17962,B-MAX,2014,7499,Manual,40700,Petrol,30,57.7,1.0
17963,Focus,2015,9999,Manual,7010,Diesel,20,67.3,1.6
17964,KA,2018,8299,Manual,5007,Petrol,145,57.7,1.2

In [16]:
ford['model']

0         Fiesta
1          Focus
2          Focus
3         Fiesta
4         Fiesta
          ...
17960     Fiesta
17961      B-MAX
17962      B-MAX
17963      Focus
17964         KA
Name: model, Length: 17965, dtype: object

In [26]:
focus = ford[ford['model']==' Focus']
focus.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
9    Focus  2018  10000       Manual    48141   Petrol  145  61.4         1.0
25   Focus  2017  18499       Manual    13063   Petrol  145  41.5         2.0
32   Focus  2019  18990       Manual     8400   Petrol  145  60.1         1.0

In [22]:
ford.groupby("model")["year"].count()

model
 B-MAX                     355
 C-MAX                     543
 EcoSport                 1143
 Edge                      208
 Escort                      1
 Fiesta                   6557
 Focus                    4588
 Fusion                     16
 Galaxy                    228
 Grand C-MAX               247
 Grand Tourneo Connect      59
 KA                        199
 Ka+                       531
 Kuga                     2225
 Mondeo                    526
 Mustang                    57
 Puma                       80
 Ranger                      1
 S-MAX                     296
 Streetka                    2
 Tourneo Connect            33
 Tourneo Custom             69
 Transit Tourneo             1
Name: year, dtype: int64